planning_plugins:
  - ompl_interface/OMPLPlanner
request_adapters:
  - default_planning_request_adapters/ResolveConstraintFrames
  - default_planning_request_adapters/ValidateWorkspaceBounds
  - default_planning_request_adapters/CheckStartStateBounds
  - default_planning_request_adapters/CheckStartStateCollision
response_adapters:
  - default_planning_response_adapters/AddTimeOptimalParameterization
  - default_planning_response_adapters/ValidateSolution
  - default_planning_response_adapters/DisplayMotionPath

planner_configs:
  RRTConnect:
    type: geometric::RRTConnect
    range: 0.0
  RRT:
    type: geometric::RRT
    range: 0.0
    goal_bias: 0.05
  RRTstar:
    type: geometric::RRTstar
    range: 0.0
    goal_bias: 0.05
    delay_collision_checking: 1
  PRM:
    type: geometric::PRM
    max_nearest_neighbors: 10
  EST:
    type: geometric::EST
    range: 0.0
    goal_bias: 0.05
  BKPIECE:
    type: geometric::BKPIECE
    range: 0.0
    border_fraction: 0.9
    failed_expansion_score_factor: 0.5
    min_valid_path_fraction: 0.5
  KPIECE:
    type: geometric::KPIECE
    range: 0.0
    goal_bias: 0.05
    border_fraction: 0.9
    failed_expansion_score_factor: 0.5
    min_valid_path_fraction: 0.5
  LBKPIECE:
    type: geometric::LBKPIECE
    range: 0.0
    border_fraction: 0.9
    min_valid_path_fraction: 0.5
  BiEST:
    type: geometric::BiEST
    range: 0.0
  ProjEST:
    type: geometric::ProjEST
    range: 0.0
    goal_bias: 0.05
  LazyPRM:
    type: geometric::LazyPRM
    range: 0.0
  LazyPRMstar:
    type: geometric::LazyPRMstar

left_arm:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRT
    - RRTstar
    - PRM
    - EST
    - BKPIECE
    - KPIECE
    - LBKPIECE
    - BiEST
    - ProjEST
    - LazyPRM
    - LazyPRMstar

right_arm:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRT
    - RRTstar
    - PRM
    - EST
    - BKPIECE
    - KPIECE
    - LBKPIECE
    - BiEST
    - ProjEST
    - LazyPRM
    - LazyPRMstar

both_arms:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRT
    - RRTstar
    - PRM
    - BiEST
    - ProjEST
    - LazyPRM

left_hand:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - PRM

right_hand:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - PRM
