<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Public args so launches can change them -->
    <xacro:arg name="robot_name" default="dual_arm_description"/>

    <!-- Bring in base structure -->
    <xacro:include filename="$(find dual_arm_description)/urdf/dual_arm_base.xacro" />

    <!-- Fix robot base to the world (prevents falling under gravity) -->
    <link name="world"/>
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="urdf_base"/>
    </joint>

    <!-- ros2_control interfaces for Isaac Sim (topic_based) -->
    <xacro:include filename="$(find dual_arm_description)/urdf/macros/ros2_control_isaac.xacro"/>
    <xacro:dual_arm_ros2_control_isaac/>

    <!-- Depth Camera -->
    <xacro:include filename="$(find arm_description)/urdf/macros/depth_camera.xacro"/>
    <!-- Mount camera on urdf_base, positioned to view the workspace -->
    <xacro:depth_camera parent_link="urdf_base" xyz="-0.3 0.0 0.8" rpy="0 ${pi/6} 0" name="camera"/>

</robot>
