<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Public args so launches can change them -->
    <xacro:arg name="robot_name" default="dual_arm_description"/>

    <!-- Bring in base structure -->
    <xacro:include filename="$(find dual_arm_description)/urdf/dual_arm_base.xacro" />

    <!-- Fix robot base to the world (prevents falling under gravity) -->
    <link name="world"/>
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="urdf_base"/>
    </joint>

    <!-- ros2_control interfaces for Isaac Sim (topic_based) -->
    <xacro:include filename="$(find dual_arm_description)/urdf/macros/ros2_control_isaac.xacro"/>
    <xacro:dual_arm_ros2_control_isaac/>

    <xacro:include filename="$(find camera_description)/urdf/gemini335L_336L.urdf.xacro"/>

    <!-- Mount camera on urdf_base, positioned to view the workspace -->
    <joint name="camera_mount_joint" type="fixed">
        <parent link="urdf_base"/>
        <child link="camera_link"/>
        <origin xyz="0.13 0.0455 0.429" rpy="0 ${pi/12} 0"/>
    </joint>

</robot>
