<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================================================================== -->
  <!-- Base                                                              -->
  <!-- ================================================================== -->
  <link name="urdf_base">
    <inertial>
      <origin xyz="0.0334287 -0.000699525 -0.43102" rpy="0 0 0"/>
      <mass value="5.132"/>
      <inertia ixx="0.0311091" ixy="1.07667e-07" ixz="-5.11204e-05" iyy="0.022223" iyz="-4.86506e-08" izz="0.0168242"/>
    </inertial>
    <visual>
      <origin xyz="-0.00277529 -0.000698397 -0.432554" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/b_base.stl"/>
      </geometry>
      <material name="b_base_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00277529 -0.000698397 -0.432554" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/b_base.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.070373 -0.000705351 -0.431099" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/f_base.stl"/>
      </geometry>
      <material name="f_base_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.070373 -0.000705351 -0.431099" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/f_base.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- ================================================================== -->
  <!-- Torso                                                             -->
  <!-- ================================================================== -->
  <link name="urdf_simplified_torso_sub_assembly">
    <inertial>
      <origin xyz="0.00281871 -1.31908e-06 0.293935" rpy="0 0 0"/>
      <mass value="12.1543"/>
      <inertia ixx="0.865047" ixy="-1.60096e-07" ixz="0.000814956" iyy="0.748255" iyz="-1.32781e-06" izz="0.171754"/>
    </inertial>
    <visual>
      <origin xyz="3.95689e-06 -0.151502 0.42041" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/urdf_r_shoulder_plate.stl"/>
      </geometry>
      <material name="urdf_r_shoulder_plate_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.95689e-06 -0.151502 0.42041" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/urdf_r_shoulder_plate.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="3.95689e-06 0.153498 0.42041" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/urdf_l_shoulder_plate.stl"/>
      </geometry>
      <material name="urdf_l_shoulder_plate_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.95689e-06 0.153498 0.42041" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/urdf_l_shoulder_plate.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="3.95689e-06 -1.69581e-06 -0.171" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/simplified_torso.stl"/>
      </geometry>
      <material name="simplified_torso_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.95689e-06 -1.69581e-06 -0.171" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/simplified_torso.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.00657135 -1.69581e-06 0.631" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/head.stl"/>
      </geometry>
      <material name="head_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00657135 -1.69581e-06 0.631" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/head.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- ================================================================== -->
  <!-- Left Arm                                                          -->
  <!-- ================================================================== -->
  <link name="urdf_l_shoulder_assembly">
    <inertial>
      <origin xyz="-0.00509657 0.0671786 -9.80653e-07" rpy="0 0 0"/>
      <mass value="2.97837"/>
      <inertia ixx="0.00348255" ixy="-2.44885e-05" ixz="-3.85399e-08" iyy="0.00281696" iyz="6.6958e-08" izz="0.00306396"/>
    </inertial>
    <visual>
      <origin xyz="-0.00130076 0.0502746 -6.96176e-06" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/l_shoulder.stl"/>
      </geometry>
      <material name="l_shoulder_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00130076 0.0502746 -6.96176e-06" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/l_shoulder.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_l_upper_arm_assembly">
    <inertial>
      <origin xyz="-0.0400405 0.0194704 -0.110423" rpy="0 0 0"/>
      <mass value="1.54329"/>
      <inertia ixx="0.00234132" ixy="9.32993e-05" ixz="-0.000529539" iyy="0.00250504" iyz="0.000205842" izz="0.00137396"/>
    </inertial>
    <visual>
      <origin xyz="-0.0256703 0.015852 -0.0899016" rpy="0 0.174533 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/l_upper_arm.stl"/>
      </geometry>
      <material name="l_upper_arm_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0256703 0.015852 -0.0899016" rpy="0 0.174533 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/l_upper_arm.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_l_elbow_assembly">
    <inertial>
      <origin xyz="1.33522e-06 -0.0103789 -0.0634648" rpy="0 0 0"/>
      <mass value="2.87437"/>
      <inertia ixx="0.00280783" ixy="-3.83564e-08" ixz="1.61602e-08" iyy="0.00300002" iyz="-7.45868e-05" izz="0.00247115"/>
    </inertial>
    <visual>
      <origin xyz="1.15439e-05 0.000331628 -0.0512953" rpy="0 0 -1.57079"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/l_elbow.stl"/>
      </geometry>
      <material name="l_elbow_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1.15439e-05 0.000331628 -0.0512953" rpy="0 0 -1.57079"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/l_elbow.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_l_upper_forearm_assembly">
    <inertial>
      <origin xyz="0.00126375 -0.0365224 -0.111037" rpy="0 0 0"/>
      <mass value="1.44829"/>
      <inertia ixx="0.00214741" ixy="6.26018e-06" ixz="-9.94562e-07" iyy="0.00190798" iyz="-0.000395055" izz="0.000998643"/>
    </inertial>
    <visual>
      <origin xyz="0.00466961 -0.0254855 -0.0842108" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/l_upper_forearm.stl"/>
      </geometry>
      <material name="l_upper_forearm_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00466961 -0.0254855 -0.0842108" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/l_upper_forearm.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_l_lower_forearm_assembly">
    <inertial>
      <origin xyz="-0.00708592 -1.50452e-08 -0.0536199" rpy="0 0 0"/>
      <mass value="1.27429"/>
      <inertia ixx="0.000756431" ixy="-8.31991e-10" ixz="-4.1177e-05" iyy="0.000843576" iyz="-7.13151e-08" izz="0.000705223"/>
    </inertial>
    <visual>
      <origin xyz="0.00198299 4.28405e-08 -0.0340631" rpy="0 0 -1.57079"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/l_lower_forearm.stl"/>
      </geometry>
      <material name="l_lower_forearm_material">
        <color rgba="0.537255 0.854902 0.827451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00198299 4.28405e-08 -0.0340631" rpy="0 0 -1.57079"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/l_lower_forearm.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_l_wrist_assembly">
    <inertial>
      <origin xyz="-0.0282716 1.4578e-06 -0.112614" rpy="0 0 0"/>
      <mass value="0.398"/>
      <inertia ixx="0.00146537" ixy="-6.85112e-09" ixz="-5.58167e-05" iyy="0.00160501" iyz="-1.87386e-08" izz="0.000274862"/>
    </inertial>
    <visual>
      <origin xyz="-0.0219314 4.45962e-06 -0.0434653" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/l_wrist.stl"/>
      </geometry>
      <material name="l_wrist_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0219314 4.45962e-06 -0.0434653" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/l_wrist.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- ================================================================== -->
  <!-- Right Arm                                                         -->
  <!-- ================================================================== -->
  <link name="urdf_r_shoulder_assembly">
    <inertial>
      <origin xyz="-0.00573008 -0.07 1.52053e-08" rpy="0 0 0"/>
      <mass value="2.55237"/>
      <inertia ixx="0.00203786" ixy="6.09012e-13" ixz="-2.50552e-10" iyy="0.0019126" iyz="2.29505e-07" izz="0.00194344"/>
    </inertial>
    <visual>
      <origin xyz="-0.00130076 -0.0502746 -6.95902e-06" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/r_shoulder.stl"/>
      </geometry>
      <material name="r_shoulder_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00130076 -0.0502746 -6.95902e-06" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/r_shoulder.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_r_upper_arm_assembly">
    <inertial>
      <origin xyz="-0.0458079 -0.0209227 -0.118659" rpy="0 0 0"/>
      <mass value="1.10129"/>
      <inertia ixx="0.000523659" ixy="-8.87525e-07" ixz="-4.63059e-06" iyy="0.000515695" iyz="-1.84489e-05" izz="0.000414319"/>
    </inertial>
    <visual>
      <origin xyz="-0.0256704 -0.0158521 -0.0899019" rpy="0 -0.174533 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/r_upper_arm.stl"/>
      </geometry>
      <material name="r_upper_arm_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0256704 -0.0158521 -0.0899019" rpy="0 -0.174533 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/r_upper_arm.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_r_elbow_assembly">
    <inertial>
      <origin xyz="-4.03555e-08 0.0117301 -0.065" rpy="0 0 0"/>
      <mass value="2.55237"/>
      <inertia ixx="0.00194344" ixy="-3.24836e-10" ixz="-2.29505e-07" iyy="0.00203786" iyz="-7.89574e-13" izz="0.0019126"/>
    </inertial>
    <visual>
      <origin xyz="1.16036e-05 -0.000331582 -0.0512953" rpy="0 0 -1.57079"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/r_elbow.stl"/>
      </geometry>
      <material name="r_elbow_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1.16036e-05 -0.000331582 -0.0512953" rpy="0 0 -1.57079"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/r_elbow.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_r_upper_forearm_assembly">
    <inertial>
      <origin xyz="0.0001921 0.04 -0.119489" rpy="0 0 0"/>
      <mass value="1.10129"/>
      <inertia ixx="0.000523659" ixy="-6.99493e-08" ixz="-4.71432e-06" iyy="0.000518948" iyz="-2.71166e-14" izz="0.000411066"/>
    </inertial>
    <visual>
      <origin xyz="0.00466989 0.0254856 -0.0842107" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/r_upper_forearm.stl"/>
      </geometry>
      <material name="r_upper_forearm_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00466989 0.0254856 -0.0842107" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/r_upper_forearm.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_r_lower_forearm_assembly">
    <inertial>
      <origin xyz="-0.00851057 -2.92791e-08 -0.0566921" rpy="0 0 0"/>
      <mass value="1.10129"/>
      <inertia ixx="0.000411066" ixy="-3.71149e-10" ixz="-4.71436e-06" iyy="0.000518948" iyz="-6.99655e-08" izz="0.000523659"/>
    </inertial>
    <visual>
      <origin xyz="0.00198295 -9.2499e-09 -0.0340632" rpy="0 0 -1.57079"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/r_lower_forearm.stl"/>
      </geometry>
      <material name="r_lower_forearm_material">
        <color rgba="0.537255 0.854902 0.827451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00198295 -9.2499e-09 -0.0340632" rpy="0 0 -1.57079"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/r_lower_forearm.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_r_wrist_assembly">
    <inertial>
      <origin xyz="-0.0303429 -4.73802e-07 -0.135203" rpy="0 0 0"/>
      <mass value="0.3"/>
      <inertia ixx="0.000742915" ixy="-9.20411e-11" ixz="3.4585e-05" iyy="0.000854959" iyz="-2.44701e-09" izz="0.000175006"/>
    </inertial>
    <visual>
      <origin xyz="-0.0219316 -4.59044e-06 -0.0434653" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/r_wrist.stl"/>
      </geometry>
      <material name="r_wrist_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0219316 -4.59044e-06 -0.0434653" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/r_wrist.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- ================================================================== -->
  <!-- Left Leg                                                          -->
  <!-- ================================================================== -->
  <link name="urdf_hip_assembly">
    <inertial>
      <origin xyz="-0.00347422 0.0692724 1.43176e-08" rpy="0 0 0"/>
      <mass value="1.73"/>
      <inertia ixx="0.00300557" ixy="5.85797e-07" ixz="-4.29793e-10" iyy="0.00228193" iyz="8.7286e-08" izz="0.00262683"/>
    </inertial>
    <visual>
      <origin xyz="0.0019136 0.053458 -9.14342e-09" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/hip.stl"/>
      </geometry>
      <material name="hip_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0019136 0.053458 -9.14342e-09" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/hip.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_l_upper_femur_assembly">
    <inertial>
      <origin xyz="-0.0457344 0.000412048 -0.14917" rpy="0 0 0"/>
      <mass value="1.912"/>
      <inertia ixx="0.0051703" ixy="1.30726e-06" ixz="-0.000930873" iyy="0.00560175" iyz="-5.00257e-05" izz="0.00337012"/>
    </inertial>
    <visual>
      <origin xyz="-0.0258673 0.0015371 -0.113387" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/l_upper_femur.stl"/>
      </geometry>
      <material name="l_upper_femur_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0258673 0.0015371 -0.113387" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/l_upper_femur.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_lower_femur_assembly">
    <inertial>
      <origin xyz="-1.05084e-08 -0.0027578 -0.103488" rpy="0 0 0"/>
      <mass value="1.817"/>
      <inertia ixx="0.00382704" ixy="-4.05713e-11" ixz="-3.93771e-08" iyy="0.00418793" iyz="-0.000182166" izz="0.00258518"/>
    </inertial>
    <visual>
      <origin xyz="5.81796e-09 0.00391138 -0.0715537" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/lower_femur.stl"/>
      </geometry>
      <material name="lower_femur_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="5.81796e-09 0.00391138 -0.0715537" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/lower_femur.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_l_tibia_assembly">
    <inertial>
      <origin xyz="0.0148162 -0.0518904 -0.248943" rpy="0 0 0"/>
      <mass value="4.79318"/>
      <inertia ixx="0.0669306" ixy="0.000212899" ixz="0.00289576" iyy="0.0697499" iyz="-0.00251221" izz="0.00864209"/>
    </inertial>
    <visual>
      <origin xyz="0.0302813 -0.054 -0.44863" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/shoe.stl"/>
      </geometry>
      <material name="shoe_material">
        <color rgba="0.0941176 0.580392 0.545098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0302813 -0.054 -0.44863" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/shoe.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0301364 -0.054 -0.444982" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/foot.stl"/>
      </geometry>
      <material name="foot_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0301364 -0.054 -0.444982" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/foot.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.000699427 -0.042918 -0.182556" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/l_tibia.stl"/>
      </geometry>
      <material name="l_tibia_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000699427 -0.042918 -0.182556" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/l_tibia.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="ankle_assembly">
    <inertial>
      <origin xyz="-4.60793e-08 -0.024 -0.0125447" rpy="0 0 0"/>
      <mass value="0.163267"/>
      <inertia ixx="1.68911e-05" ixy="2.11988e-22" ixz="-1.62341e-11" iyy="2.14344e-05" iyz="1.09366e-22" izz="1.24715e-05"/>
    </inertial>
  </link>

  <!-- ================================================================== -->
  <!-- Right Leg                                                         -->
  <!-- ================================================================== -->
  <link name="urdf_hip_assembly_2">
    <inertial>
      <origin xyz="-0.00347379 -0.0742724 -5.51461e-05" rpy="0 0 0"/>
      <mass value="1.73"/>
      <inertia ixx="0.00300548" ixy="-5.87109e-07" ixz="6.00988e-06" iyy="0.00228193" iyz="7.79791e-08" izz="0.00262693"/>
    </inertial>
    <visual>
      <origin xyz="0.00191336 -0.058458 3.03756e-05" rpy="3.12572 0 1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/hip.stl"/>
      </geometry>
      <material name="hip_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00191336 -0.058458 3.03756e-05" rpy="3.12572 0 1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/hip.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_r_upper_femur_assemby">
    <inertial>
      <origin xyz="-0.0457326 -0.000642388 -0.149162" rpy="0 0 0"/>
      <mass value="1.912"/>
      <inertia ixx="0.00517199" ixy="-2.87082e-06" ixz="-0.000931442" iyy="0.00560356" iyz="4.65211e-05" izz="0.00337004"/>
    </inertial>
    <visual>
      <origin xyz="-0.0258608 -0.00171122 -0.11336" rpy="0 -0.00155 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/r_upper_femur.stl"/>
      </geometry>
      <material name="r_upper_femur_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0258608 -0.00171122 -0.11336" rpy="0 -0.00155 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/r_upper_femur.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_lower_femur_assembly_2">
    <inertial>
      <origin xyz="-6.70025e-10 0.0027578 -0.103488" rpy="0 0 0"/>
      <mass value="1.817"/>
      <inertia ixx="0.00382703" ixy="-1.50339e-09" ixz="4.64928e-08" iyy="0.00418793" iyz="0.000182166" izz="0.00258518"/>
    </inertial>
    <visual>
      <origin xyz="1.00366e-08 -0.00391138 -0.0715537" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/lower_femur.stl"/>
      </geometry>
      <material name="lower_femur_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1.00366e-08 -0.00391138 -0.0715537" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/lower_femur.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_r_tibia_assembly">
    <inertial>
      <origin xyz="0.0144437 0.052256 -0.248966" rpy="0 0 0"/>
      <mass value="4.79318"/>
      <inertia ixx="0.0669506" ixy="-0.000238583" ixz="0.00280869" iyy="0.0697506" iyz="0.00282949" izz="0.00864431"/>
    </inertial>
    <visual>
      <origin xyz="0.000426339 0.0429179 -0.182557" rpy="-0.00149587 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/r_tibia.stl"/>
      </geometry>
      <material name="r_tibia_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000426339 0.0429179 -0.182557" rpy="-0.00149587 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/r_tibia.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0296101 0.056 -0.448675" rpy="-0.00149587 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/shoe.stl"/>
      </geometry>
      <material name="shoe_2_material">
        <color rgba="0.0941176 0.580392 0.545098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0296101 0.056 -0.448675" rpy="-0.00149587 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/shoe.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0294707 0.056 -0.445027" rpy="-0.00149587 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/visual/foot.stl"/>
      </geometry>
      <material name="foot_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0294707 0.056 -0.445027" rpy="-0.00149587 0 -1.5708"/>
      <geometry>
        <mesh filename="package://dual_arm_description/meshes/collision/foot.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="ankle_assembly_3">
    <inertial>
      <origin xyz="-0.025 2.40154e-05 0.0154553" rpy="0 0 0"/>
      <mass value="0.163267"/>
      <inertia ixx="1.68911e-05" ixy="3.00228e-21" ixz="1.26234e-19" iyy="2.14344e-05" iyz="-1.39271e-08" izz="1.24715e-05"/>
    </inertial>
  </link>

</robot>
